.container {
    width: 84px;
    height: 84px;
    background-color: #2231AA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.burger {
    width: 25px;
    height: 25px;
}