.container {
    width: 1120px;
    height: 56px;
    font-weight: 600;
font-size: 16px;
line-height: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 120px;
    color: #313037;
    border-bottom: 1px solid #DADADA;
}

.activeTab {
    border-bottom: 2px solid #313037;
    display: block;
    padding: 16px 0;
}

.tab {
    cursor: pointer;
}
.tab:hover {
    color: #2231AA;
}

.disabled {
    color: #8D8E97;
}

.darkContainer {
    background-color: #313037;
    color: white;
}